<h5 style="margin-left: 125px;">Details</h5>
<div class="col-lg-8 col-md-8">
    <div class="card" >
        <div class="card-body">
          <p class="card-title"><b>NAME</b>: {{data.username}}</p>
          <p class="card-title"><b>COURSES</b>: {{data.courses}}</p>
          <p class="card-title"><b>CITY</b>: {{data.city}}</p>
          <p class="card-title"><b>STATE</b>: {{data.state}}</p>
          <p class="card-title"><b>COUNTRY</b>: {{data.country}}</p>
        </div>
      </div>

</div>

